* {
    box-sizing: border-box;
}

body{ 
    
    margin: auto;
    background-color: #fcfcfc;
}
header{
    color:white;
    background-color:black; 
    padding: 40px;
    text-align: center;
    font-size: 60px;
} 
.contenedor{
    background-color:#b1b4b0;
    display: -webkit-flex;
    display:flex;
    width: 100%;
    
}
.column_izq{
    -webkit-flex:2;
    -ms-flex: 2;
    flex: 2;
    background-color:black;
    font-size: 24px;

}
li{
    display: block;
    list-style-type:none;
    margin: 10px;
    padding: 10px;
    color: aliceblue;
    float: left;
    text-align: center;
    padding-left:10px;
    font-family: sans-serif;
}
.mainC{
   
    padding: 10px;
    width: 2000%;
    background-color:#b1b4b0;
    text-align: justify;
}
.widget{
    float:left;
    padding: 30px;
    width: 100%;
    background-color:black;
    color: white;
    text-align: justify;
}

.ul{
    float:left;
    padding: 30px;
    width: 100%;
    background-color:black;
    color: white;
    text-align: justify;

}


footer{
    color:white;
    background-color:black;
    padding: 20px;
    font-size: 30px;
    text-align: center;

}

@media (max-width:60px){
    .row{
        -webkit-flex-direction:colum;
        flex-direction: column;
    }
}